<div class="contents-header">
  <div class="left-header">
    <div class="header-title">
      PlanContents
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
     <%= link_to "予定を削除する", plan_path(@plan), method: :delete %>
    </div>
  </div>
</div>

<div class="content">
  <%= render partial: 'contents/content', collection: @contents %>
</div>

<%= form_with model: [@plan, @content], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :to_do, class: 'form-comment', placeholder: 'type a comment' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
